body
  form(action='/victim', method='POST')
    p
      | Name:
      input(type='text', name='name', value='')
      |          Surname:
      input(type='text', name='surname', value='')
      |          Midname:
      input(type='text', name='midname', value='')
      |          Email:
      input(type='text', name='email', value='')
    input(type='submit', value='Submit')